.ipynb_checkpoints
airmasses
figs*
good_run
lines
old
examples/generate_example_data.jl
*.png
*.gif
*data_locs.jl
Manifest.toml
*.csv
test.jl
*.pbs
outputs/
*.jld2
*.txt
alex_stuff/
*scrap.jl
NEID/testing.jl
*.fits
*.par
*analysis_wobble.jl
*test_linearsolve.jl
*init_testing.jl
*model_functions0.jl
*.pptx
*.xlsx
EXPRES/
*_backup.jl
periodogram/
